# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo

# Env
venv/
env/
.venv/

# Logs
*.log

# Data / models
data/
datasets/
models/
*.pt
*.pkl
*.bin
*.h5

# Root Garbage & Extra Files
=1.0
=1.0.0
linkedin_cookies.pkl
structure.txt
test-ci.txt
requirements.txt
uploads/
