version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: aryu_api:latest
    container_name: aryu_api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - aryu_network

networks:
  aryu_network:
    driver: bridge
