version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    image: aryu_api:latest
    container_name: aryu_api
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - aryu_network

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"   # optional if you want host access
    networks:
      - aryu_network

networks:
  aryu_network:
    driver: bridge
